/**
 * @author alteredq / http://alteredqualia.com/
 * @author mr.doob / http://mrdoob.com/
 */

Detector = {

    canvas: !! window.CanvasRenderingContext2D,
    webgl: (function() {
        try {
            return !!window.WebGLRenderingContext && !! document.createElement('canvas').getContext('experimental-webgl');
        } catch (e) {
            return false;
        }
    })(),
    workers: !! window.Worker,
    fileapi: window.File && window.FileReader && window.FileList && window.Blob,

    getWebGLErrorMessage: function() {

        var element = document.createElement('div');
        element.id = 'webgl-error-message';
        element.style.fontFamily = 'monospace';
        element.style.fontSize = '13px';
        element.style.fontWeight = 'normal';
        element.style.textAlign = 'center';
        element.style.background = '#fff';
        element.style.color = '#000';
        element.style.padding = '1.5em';
        element.style.width = '400px';
        element.style.margin = '5em auto 0';

        if (!this.webgl) {

            element.innerHTML = window.WebGLRenderingContext ? [
                'Your graphics card does not seem to support <a href="http://khronos.org/webgl/wiki/Getting_a_WebGL_Implementation" style="color:#000">WebGL</a>.<br />',
                'Find out how to get it <a href="http://get.webgl.org/" style="color:#000">here</a>.'
                ].join('\n') : [
                'Your browser does not seem to support <a href="http://khronos.org/webgl/wiki/Getting_a_WebGL_Implementation" style="color:#000">WebGL</a>.<br/>',
                'Find out how to get it <a href="http://get.webgl.org/" style="color:#000">here</a>.'
                ].join('\n');

        }

        return element;

    },

    addGetWebGLMessage: function(parameters) {

        var parent, id, element;

        parameters = parameters || {};

        parent = parameters.parent !== undefined ? parameters.parent : document.body;
        id = parameters.id !== undefined ? parameters.id : 'oldie';

        element = Detector.getWebGLErrorMessage();
        element.id = id;

        parent.appendChild(element);

    }

};
// stats.js r10 - http://github.com/mrdoob/stats.js
var Stats = function() {
    var l = Date.now(),
        m = l,
        g = 0,
        n = 1E3,
        o = 0,
        h = 0,
        p = 1E3,
        q = 0,
        r = 0,
        s = 0,
        f = document.createElement("div");
    f.id = "stats";
    f.addEventListener("mousedown", function(b) {
        b.preventDefault();
        t(++s % 2)
    }, !1);
    f.style.cssText = "width:80px;opacity:0.9;cursor:pointer";
    var a = document.createElement("div");
    a.id = "fps";
    a.style.cssText = "padding:0 0 3px 3px;text-align:left;background-color:#002";
    f.appendChild(a);
    var i = document.createElement("div");
    i.id = "fpsText";
    i.style.cssText = "color:#0ff;font-family:Helvetica,Arial,sans-serif;font-size:9px;font-weight:bold;line-height:15px";
    i.innerHTML = "FPS";
    a.appendChild(i);
    var c = document.createElement("div");
    c.id = "fpsGraph";
    c.style.cssText = "position:relative;width:74px;height:30px;background-color:#0ff";
    for (a.appendChild(c); 74 > c.children.length;) {
        var j = document.createElement("span");
        j.style.cssText = "width:1px;height:30px;float:left;background-color:#113";
        c.appendChild(j)
    }
    var d = document.createElement("div");
    d.id = "ms";
    d.style.cssText = "padding:0 0 3px 3px;text-align:left;background-color:#020;display:none";
    f.appendChild(d);
    var k = document.createElement("div");
    k.id = "msText";
    k.style.cssText = "color:#0f0;font-family:Helvetica,Arial,sans-serif;font-size:9px;font-weight:bold;line-height:15px";
    k.innerHTML = "MS";
    d.appendChild(k);
    var e = document.createElement("div");
    e.id = "msGraph";
    e.style.cssText = "position:relative;width:74px;height:30px;background-color:#0f0";
    for (d.appendChild(e); 74 > e.children.length;) j = document.createElement("span"), j.style.cssText = "width:1px;height:30px;float:left;background-color:#131", e.appendChild(j);
    var t = function(b) {
        s = b;
        switch (s) {
        case 0:
            a.style.display = "block";
            d.style.display = "none";
            break;
        case 1:
            a.style.display = "none", d.style.display = "block"
        }
    };
    return {
        domElement: f,
        setMode: t,
        begin: function() {
            l = Date.now()
        },
        end: function() {
            var b = Date.now();
            g = b - l;
            n = Math.min(n, g);
            o = Math.max(o, g);
            k.textContent = g + " MS (" + n + "-" + o + ")";
            var a = Math.min(30, 30 - 30 * (g / 200));
            e.appendChild(e.firstChild).style.height = a + "px";
            r++;
            b > m + 1E3 && (h = Math.round(1E3 * r / (b - m)), p = Math.min(p, h), q = Math.max(q, h), i.textContent = h + " FPS (" + p + "-" + q + ")", a = Math.min(30, 30 - 30 * (h / 100)), c.appendChild(c.firstChild).style.height =
            a + "px", m = b, r = 0);
            return b
        },
        update: function() {
            l = this.end()
        }
    }
};


var camera, scene, renderer, controls;

function load() {
    init();
    animate();

}

function checkWebGL() {
    var canvas, ctx, exts;

    try {
        canvas = document.createElement('canvas');
        ctx = canvas.getContext('webgl') || canvas.getContext('experimental-webgl');
        exts = ctx.getSupportedExtensions();
    }
    catch (e) {
        return false;
    }

    if (ctx === undefined) {
        return false;
    }
    else {
        return true;
    }

    for (var i = -1, len = exts.length; ++i < len;) {
        return true;
    }


    canvas = undefined;

}


function init() {

    container = document.createElement('div');
    document.body.appendChild(container);
    if (checkWebGL()) {
        jQuery('body').append('<p style="position:absolute;right:5px;bottom:0;font-family:Verdana;font-size:8px;">GFX mode: webgl</p>');
        renderer = new THREE.WebGLRenderer({
            antialias: true
        });
    } else {
        jQuery('body').append('<p style="position:absolute;right:5px;bottom:0;font-family:Verdana;font-size:8px;">GFX mode: canvas</p>');
        renderer = new THREE.CanvasRenderer({
            antialias: true
        });
    }

    renderer.setSize(window.innerWidth, window.innerHeight);

    camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 2000);

    camera.position.y = 300;
    camera.position.z = 300;
    camera.position.x = -35;
    
    // drag and scroll to control camera
    // ////////////////////////////////////////////////////////////////
    controls = new THREE.OrbitControls( camera );
    // ///////////////////////////////////////////////////////////////
    
    scene = new THREE.Scene();

    var light, object, material;

    scene.add(new THREE.AmbientLight(0xd49b00));

    light = new THREE.DirectionalLight(0xdcac19);
    light.position.set(0, 10, 0);
    scene.add(light);

    var map = THREE.ImageUtils.loadTexture('textures/Untitled-1.jpg');
    map.wrapS = map.wrapT = THREE.RepeatWrapping;
    map.anisotropy = 16;


    material = [
        new THREE.MeshLambertMaterial({
        color: 0xeacf50,
        wireframe: false,
        transparent: false,
        opacity: 1,
        map: map
    }),
        new THREE.MeshBasicMaterial({
        color: 0xa97b00,
        wireframe: true,
        transparent: true,
        opacity: 1,
        side: THREE.DoubleSide
    })
        ];

    var geometry = new THREE.TetrahedronGeometry(40, 0);
    object = THREE.SceneUtils.createMultiMaterialObject(geometry, material);
    
    // /////////////////////////////////////////////////////////////////////
    geometry.applyMatrix( new THREE.Matrix4().makeRotationAxis( new THREE.Vector3( 1, 0, -1 ).normalize(), Math.atan( Math.sqrt(2)) ) );
    object.position.set(40, 15, 40);
    // ////////////////////////////////////////////////////////////////////// 
    
    scene.add(object);
    var axishelper = new THREE.AxisHelper();
    scene.add(axishelper);


    var cube = new THREE.Mesh(new THREE.CubeGeometry(100, 1, 100), new THREE.MeshNormalMaterial());
    cube.position.y = -1;
    cube.position.x = 50;
    cube.position.z = 50;
    scene.add(cube);


    container.appendChild(renderer.domElement);

    stats = new Stats();
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.top = '0px';
    container.appendChild(stats.domElement);


    window.addEventListener('resize', onWindowResize, false);


    renderer.render(scene, camera);

    var gui = new dat.GUI(),
        fl;

    fl = gui.addFolder('object.position');
    fl.add(object.position, 'x', -50, 50, 1);
    fl.add(object.position, 'y', -50, 50, 1);
    fl.add(object.position, 'z', -50, 50, 1);


}

function afterMouseMove(x, y, object) {}

function onWindowResize() {

    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();

    renderer.setSize(window.innerWidth, window.innerHeight);

}

function animate() {

    requestAnimationFrame(animate);

    render();
    stats.update();

}


function render() {

    // /////////////////////////////////////////////////////////////
    controls.update();
    // ////////////////////////////////////////////////////////////
    
    renderer.render(scene, camera);

}

$(document).ready(function() {
    load();
});

function de2ra(degree) {
    return degree * (Math.PI / 180);
}