.button {
    background: url(../img/sidebar-button.jpg) no-repeat 0 0;
    color: #4e4e4e;
    display: block;
    font-family: $alegrey-bold;
    height: 43px;
    line-height: 41px;
    text-align: center;
    width: 171px;
    
    &:hover {
        color: #4e4e4e;
        text-decoration: none;
    }
}