
.image-container {
    @extend .frame;

    clear: both;
    margin-bottom: 1.5em;
    
    @media (min-width: $screen-md-min) {
        float: left;
        margin: 0 30px 10px 0;
        width: 156px;
    }
    
    img {
        max-width: 100%;
        width: 100%;
    }
}