.viewport {
    
    background: url(../img/bakology.gif) no-repeat 50% 50%;
    background-size: 100% auto;
    height: 350px;
    width: 100%;

    #pyramid {
        display: none;
    }
    
    @media(min-width: $screen-sm-min) {
        background-size: auto;
    }
    
    @media(min-width: $screen-md-min) {
        background: none;
        height: 500px;        
        position: relative;
        width: 100%;
        
        #pyramid {
            display: block;
        }

    }
    
}