.readmore {
    @include clearfix;
    
    background: url(../img/link-bg.png) no-repeat 50% 0;
    clear: both;
    display: block;
    height: 33px;
    margin: 30px 0;
    text-align: center;
    width: 100%;
    
    a {
        color: #2b2b2b;
        display: block;
        float: left;
        font-family: $alpha;
        font-size: 12px;    
        height: 31px;
        left: 0;
        letter-spacing: 2px;
        line-height: 31px;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        width: 156px;
        
        &:after {
            background: url(../img/readmore-inner-shadow.png) no-repeat 1px 0;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition-duration: 0.4s;
            width: 100%;
        }
        
        &:hover {
            text-decoration: none;
            
            &:after {
                opacity: 1;
            }
        }
    }
}