.reviews {

    .intro {
    
        h1 {
            background: none;
            font-size: 2em;
            line-height: 1.1;
            margin: 0;
            padding: 0;
            text-align: center;
            
            @media (min-width: $screen-md-min) {
                font-size: 3.4375em;                
            }
        }
        
        h2 {
            background: none;
            font-family: $alegrey;
            font-style: italic;
            margin: 1em 0;
            text-align: center;
            text-transform: none;
        }
    }
    
    .reviews__country {
        h1 {
            background: none;
            font-size: 1.5em;
            margin: 1em 0;
            padding: 0;
            
            @media (min-width: $screen-md-min) {
                background: url(../img/review-country-line.png) no-repeat 50% 50%;
                //font-size: 2.25em;
                text-align: center;
            }
        }
    } 
    
    .review {
        @include clearfix();
        
        margin-bottom: 3em;
    }
    
    .review__text {
        font-size: 1.5em;
        line-height: 1.2;
        margin-bottom: 1em;
    }
    
    .review__caption {
        font-size: 1.0625em;
    }
    
    .review__info {
        @include clearfix();

        margin: 1em 0 0;
        
        @media (min-width: $screen-md-min) {
            padding-left: 10em;        
        }
    }
    
    .review__info--site-name {
        float: left;
        font-family: $alpha;
        font-size: .75em;
        letter-spacing: 1px;
        line-height: 31px;
        margin-right: 2em;
    }
    
    .review__info--link {
        float: left;
        
        a {
            background: url(../img/review-link-btn.png) no-repeat 0 0;
            display: block;
            font-family: $alpha;
            font-size: .75em;
            height: 31px;
            letter-spacing: 1.5px;
            line-height: 31px;
            text-align: center;
            text-transform: uppercase;
            width: 154px;
        }
    }
}