.social-media {
    @extend .list-inline;
    
    a {
        display: inline-block;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }
}

article {
    .social-media {
        position: absolute;
        right: 20px;
        top: 170px;
        
        @media (min-width: $screen-sm-min) {
            top: 140px;
        }
    }
    
    .facebook, .twitter, .youtube, .soundcloud {
        margin-right: 20px;
        
        a {
            background: url(../img/social-media-icons-large.png) no-repeat 0 0;
            background-size: 240px auto;
            height: 26px;
            width: 27px;
                        
            @media (min-width: $screen-md-min) {
                background-size: auto;
                height: 46px;
                width: 49px;
            }
        }
    }
    
    .twitter a {
        background-position: -53px 0;
        width: 29px;

        @media (min-width: $screen-md-min) {
            background-position: -102px 0;
            width: 49px;
        }
    }

    .youtube a {
        background-position: -106px 0;
        width: 59px;

        @media (min-width: $screen-md-min) {
            background-position: -198px 0;
            width: 108px;
        }
    }
    
    
    .soundcloud {
        margin: 0px;

        a {
            background-position: -186px 0;
            width: 54px;

            @media (min-width: $screen-md-min) {
                background-position: -348px 0;
                width: 100px;
            }
        }
    }
}

.aside {
    .facebook, .twitter, .youtube, .soundcloud {
        margin-right: 10px;
        
        a {
            background: url(../img/social-media-bak.png) no-repeat 0 0;
            height: 20px;
            width: 20px;            
        }
    }
    
    .twitter a {
        background-position: -40px 0;
        width: 21px;
    }

    .youtube a {
        background-position: -76px 0;
        width: 46px;
    }
    
    
    .soundcloud {
        margin: 0px;

        a {
            background-position: -134px 0;
            width: 36px;
        }
    }
}