.tab {
    position: absolute;
    top: 80px;
    width: 48%;
    
    .tab-1 & {
        left: -7px;
        
        @media (min-width: $screen-lg-min) {
            left: 0px;
            width: 50%;
        }
    }
    
    .tab-2 & {
        left: 50%;       

        @media (min-width: $screen-lg-min) {
            width: 50%;
        }
    }    
}


.tab-1, .tab-2 {

    .tab {
        background: url(../img/tab-bg.png) no-repeat 0 0;
        color: #2b2b2b;        
    }
    
    
    // tab headers
    header {
    
        h3 {
            @extend .tab;
    
            cursor: pointer;
            font-family: $alpha;
            font-size: 1.375em;
            letter-spacing: 3px;
            line-height: 1;
            margin: 0;
            padding: 33px 0;
            text-align: center;
        }
    }

    .tab-content {
        display: none;
        padding-top: 1em;
        
        @media (min-width: $screen-md-min) {
            padding-top: 0em;
        }
        
        h3 {
            line-height: 1;
            margin: 2em 0 1em;
            
            @media (min-width: $screen-md-min) {
                line-height: 1.3;
                //margin: 0;
            }
        }        

    }
    
    &.active {

        .tab {
             background: rgba(255,255,255,0.4);
        }
        
        .tab-content {
            display: block;
        }
    }
}