.video-container {
//    @extend .frame;

    height: 0; 
    overflow: hidden;
    margin-bottom: 1em;
    position: relative;
    padding: 30px 0 56.25%;
    
    .frame & {
        margin: 0;
    }
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.video-container.frame {
    height: 96%;
    width: 97%;    
}
