.aside {
    @include clearfix;
    
    // setting up the responsive grid for side bar
    @include make-sm-column(12);
    @include make-md-column(3);
 
    @include make-lg-column(2);
    //@include make-lg-column-offset(1);
   
    line-height: 1;
    margin-top: 30px;
    
    @media (min-width: $screen-md-min) {
        position: fixed;
        width: 200px;
    }

    @media (min-width: $screen-lg-min) {
        margin-left: 100px;
    }
    
    h1 {
        font-family: $alpha;
        font-size: .875em;
    }
    
    
    
}