.content {

    // setting up the responsive grid

    @include make-sm-column(12);
    
    @include make-md-column(8);
    @include make-md-column-offset(3);

    @include make-lg-column(7);
    @include make-lg-column-offset(4);


    padding-top: 2.142em;
    position: relative;

    @media (min-width: $screen-lg-min) {
        padding-top: 3.75em;
    }
}

article {
    @include clearfix;
    
    background: rgba(255,255,255,0.1) url(../img/content-bg.png) repeat-y 0 25px;
    margin-left: 0;
    padding: 0 1.5625em 1em;
    position: relative;

    @media (min-width: $screen-md-min) {
        margin-left: -1.5625em;
        min-height: 37em;
    }

    .home & {
        background: none;
        margin-left: 0;
        padding: 0;
    }
}

