footer {
    @include make-sm-column(12);
    @include make-lg-column(10);
    @include make-lg-column-offset(1);
   
    background: url(../img/footer.png) no-repeat 50% 100%;
    height: 25em;
    margin-bottom: 1em;
    margin-left: -15px;
    padding: 0;
    //width: 100%;
    
    @media (min-width: $screen-sm-min) {
        background-position: 50% 0;
        height: 6.1875em;
        margin-top: 4em;
    }
    
    @media(min-width: $screen-lg-min) {
        height: 6.1875em;
        margin-top: 7.5em;
        margin-bottom: 2.5em;
    }
}

.footer__graphic {
    background: url(../img/bakmaster-dude.png) no-repeat 50% 0;
    height: 220px;
    width: 100%;
    
    @media (min-width: $screen-sm-min) {
        background: none;
        display: none;
    }
}

.footer__content {
    color: #4e4e4e;
    font-family: $alegrey;
    font-size: 13px;
    left: 16px;
    position: absolute;
    top: 240px;
    
    @media (min-width: $screen-sm-min) {
        top: -50px;
    }
    
    a {
        color: #4e4e4e;
    }
}