.wrapper {
    @include make-row;
    margin: 0 auto;
    width: 320px;
    
    @media (min-width: $screen-sm-min) {
        width: 480px;
    }
    
    @media (min-width: $screen-md-min) {
        max-width: 960px;
        width: 100%;
//        width: 600px;
    }

    /*
@media (min-width: $screen-md-min) {
        width: 768px;
    }
*/
    
    @media (min-width: $screen-lg-min) {
        max-width: 1170px;
        width: 1170px;
    }
}