.logo {
    background: url(../img/logo.jpg) no-repeat 50% 0;
    border-radius: 85px;
    height: 170px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 170px;
    
    
    @media (min-width: 480px) {
//        width: 480px;
    }
    
    @media (min-width: 600px) {
//        width: 600px;
    }

    @media (min-width: 768px) {
//        width: 768px;
    }
    
    @media (min-width: 1170px) {
        margin: 30px 0 0;
        width: 170px;
    }    
    
    a {
        background: url(../img/logo.jpg) no-repeat 50% -172px;
        border-radius: 85px;
        display: block;
        height: 100%;
        left: 50%;
        margin-left: -85px;
        position: absolute;
        opacity: 0;
        overflow: hidden;
        text-indent: 100%;
        transition-duration: 0.5s;
        top: 0;
        white-space: nowrap;
        width: 170px;
        
        &:hover {
            opacity: 1;
        }
    

    }
}