nav {
    background: url(../img/menu.jpg) no-repeat 50% 0;
    height: 157px;
    margin: 30px 0 0;
    position: relative;

    @media (min-width: $screen-lg-min) {
        width: 178px;
    }

    ul {
        left: 50%;
        margin: 0 0 0 -87px;;
        padding: 0;
        position: absolute;
        top: 0;
        width: 178px;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;

        &.current-menu-item a {
            background: url(../img/menu-current.jpg) no-repeat 3px 3px;
            color: #fff;

            &:hover {
                //background: url(../img/menu-current.jpg) no-repeat 0 0;
                //color: #fff;
            }
        }
    }

    a {
        color: #363636;
        display: block;
        font-family: $alpha;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 12px 16px 10px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        transition-duration: 0.4s;

        &:after {
            background: url(../img/menu-inner-shadow.png) no-repeat 0 0;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition-duration: 0.4s;
            width: 100%;
        }

        &:hover {
            color: #282828;
            text-decoration: none;
            opacity: 1;

            &:after {
                opacity: 1;
            }
        }
    }
}
