html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    background: #f9f9fa url(../img/background.jpg) no-repeat 50% 0;
    background-attachment: fixed;
    font-family: $alegrey;
    font-size: 15px;


    @media (min-width: $screen-md-min) {
        font-size: 16px;
    }    


  /*
  @media (min-width: $screen-lg-min) {
        font-size: 16px;
    }  
*/  
    
    height: 100%;
    width: 100%;
}

a, a:link, a:visited, a:active, a:hover {
    color: #363636;
    outline: none;
    text-decoration: none;
}