.ie {
    
    body {
        font-size: 16px;
    }
    
    .wrapper {
        max-width: 1170px;
        width: 1170px;
    }
    
    .content {
        //@include make-lg-column(7);
        //@include make-lg-column-offset(4);
        margin-left: 33.3333%;
        padding-top: 3.75em;
        position: relative;
        width: 58.3333%
    }
    
    .banner {
       max-width: none;
        padding: 5em 0;
    }
    
    
    .image-container {
        float: left;
        margin: 0 30px 10px 0;
        width: 156px;
    }
    
    .aside {
        @include make-lg-column(2);
        //@include make-lg-column-offset(1);
       
        line-height: 1;
        margin-left: 100px;
        margin-top: 30px;
        position: fixed;
        width: 200px;
    }
    
    .aside__box {
        display: block;
    }
    
    .logo {
        margin: 30px 0 0;
        width: 170px;
    }
    
    nav {
        width: 178px;
    }
    
    .tab {
    
        .tab-1 & {
            left: 0px;
            width: 50%;
        }
        
        .tab-2 & {
            width: 50%;
        }    
    }
    
    
    .tab-1, .tab-2 {
    
        .tab-content {
            padding-top: 5em;
    
            
            h3 {
                line-height: 1.3;
            }        
    
        }
    }
    
    .social-media {
        @extend .list-inline;
        
        a {
            display: inline-block;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
        }
    }
    
    article header {

        h1 {        
            font-size: 3.375em;
            margin: 0 0 0 -25px;
            width: 653px;
        }
    }
    
    article {
        background: #eae9d6;
    
        .social-media {
            top: 140px;
        }
        
        .facebook, .twitter, .youtube, .soundcloud {
            
            a {
                background-size: auto;
                height: 46px;
                width: 49px;
            }
        }
        
        .twitter a {
            background-position: -102px 0;
            width: 49px;
        }
    
        .youtube a {
            background-position: -198px 0;
            width: 108px;
        }
        
        
        .soundcloud {
            a {
                background-position: -348px 0;
                width: 100px;
            }
        }
    }
    
    .reviews {

        .intro {
        
            h1 {
                font-size: 3.4375em;                
            }            
        }
        
        .reviews__country {
            h1 {
                background: url(../img/review-country-line.png) no-repeat 50% 50%;
                text-align: center;
            }
        } 
        
        .review__info {
            padding-left: 10em;        
        }
        
    }
    
    footer {
        height: 6.1875em;
        margin-left: 8.3333%;
        margin-top: 7.5em;
        margin-bottom: 2.5em;
        width: 83.3333%;
        
        .footer__graphic {
            display: none;
        }
    }
}