h1, h2, h3, h4 {
    font-family: $alpha;
    font-weight: normal;
}

a {
    color: #4e4e4e;
}



// main content area headers and styles

article {
    h1 {
        background: url(../img/line.jpg) no-repeat 0 0;
        font-family: $alpha;
        font-size: 1.375em;
        letter-spacing: 3px;
        margin: 2em 0;
        padding: 2.5em 0 0;
        text-transform: uppercase;

        @media (min-width: $screen-lg-min) {
            margin: 2em 0 1.5em;
            padding-top: 60px;
        }
    }

    h2 {
        font-family: $kawoszeh;
        font-size: 1.1875em;
        letter-spacing: 3px;
        margin: 30px 0 20px;
        text-transform: uppercase;
    }
    
    h3 {
        .contact & {
            margin: 3em 0 3em;
        }
    }

    p {
        margin: 0px 0 20px;
    }

    img {
        max-width: 100%;
    }
}


// special page headers

article header {

    h1 {
        background: url(../img/article-title-h1.jpg) no-repeat 0 0;
        color: #ebebeb;
        font-size: 1.5em;
        //height: 5em;
        letter-spacing: 4px;
        line-height: 80px;
        margin: 0 0 0 -1em;
        padding: 0;
        text-align: center;
        text-shadow: -1px -1px 6px #261919;
        width: 290px;
        
        @media (min-width: $screen-sm-min) {
            width: 450px;
        }
        

        @media (min-width: $screen-md-min) {
            font-size: 3.375em;
            margin: 0 0 0 -25px;
            width: 635px;
        }

        @media (min-width: $screen-lg-min) {
            width: 677px;
        }

        .video-and-music & {
            margin-bottom: 3em;
        }


    }

    h2 {
        background: url(../img/article-title-h2.png) no-repeat 50% 50%;
        color: #2b2b2b;
        font-family: $alpha;
        font-size: 1.375em;
        height: 1.375em;
        letter-spacing: 2px;
        line-height: 1;
        margin: 2em 0 1.5em;
        text-align: center;
        width: 100%;
        
        @media (min-width: $screen-md-min) {
            margin: 3.75em 0 1.875em;
        }

        @media (min-width: 1170px) {
            width: 670px;
        }
    }


}