@font-face {
    font-family: 'alpha_echoregular';
    src: url('../fonts/alpha_echo-webfont.eot');
    src: url('../fonts/alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alpha_echo-webfont.woff') format('woff'),
         url('../fonts/alpha_echo-webfont.ttf') format('truetype'),
         url('../fonts/alpha_echo-webfont.svg#alpha_echoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kawoszehmedium';
    src: url('../fonts/kawoszeh-webfont.eot');
    src: url('../fonts/kawoszeh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kawoszeh-webfont.woff') format('woff'),
         url('../fonts/kawoszeh-webfont.ttf') format('truetype'),
         url('../fonts/kawoszeh-webfont.svg#kawoszehmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreyaregular';
    src: url('../fonts/alegreya-regular-webfont.eot');
    src: url('../fonts/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alegreya-regular-webfont.woff') format('woff'),
         url('../fonts/alegreya-regular-webfont.ttf') format('truetype'),
         url('../fonts/alegreya-regular-webfont.svg#alegreyaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreyaregular';
    src: url('../fonts/alegreya-regular-webfont.eot');
    src: url('../fonts/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alegreya-regular-webfont.woff') format('woff'),
         url('../fonts/alegreya-regular-webfont.ttf') format('truetype'),
         url('../fonts/alegreya-regular-webfont.svg#alegreyaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreyabold';
    src: url('../fonts/alegreya-bold-webfont.eot');
    src: url('../fonts/alegreya-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alegreya-bold-webfont.woff') format('woff'),
         url('../fonts/alegreya-bold-webfont.ttf') format('truetype'),
         url('../fonts/alegreya-bold-webfont.svg#alegreyabold') format('svg');
    font-weight: normal;
    font-style: normal;

}