fieldset {
    border: none;
    margin: 10px 0;
    padding: 0;
}

input[type=text], input[type=number], input[type=email], textarea {
    border: none;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(2,3,3,.21);
    font-family: $alegrey;
    font-size: 15px;
    padding: 4px 6px;
    width: 268px;


    &.wpcf7-mathcaptcha {
        width: 110px;
    }
}

input[type=number] {
    margin-left: 20px;
    width: 164px;
}


textarea {
    height: 100px;
}

input[type=submit] {
    background: url(../img/button.jpg) no-repeat 0 0;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: $alpha;
    font-size: 16px;
    height: 35px;
    letter-spacing: 1px;
    margin-top: 1em;
    text-transform: uppercase;
    width: 268px;
}
